<div class="row justify-content-center bottom py-5">
        <div class="col-lg-7 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4> APPLICATION FOR DISABILITY INSURANCE BENEFITS </h4>
                </div>
                <div class="card-body">
                    <form class="form-template" [formGroup]="formTemplate" (ngSubmit)="OnSubmit()">
                        <div class="form-group row">
                            <label class ="control-label col-sm-3">Name </label>
                            <div class="col-sm-9">
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="name" required/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">name is required</div>
                            </div>
                            </div>
                </div>
                <div class="form-group row">
                    <label class ="control-label col-sm-3">Social security number </label>
                    <div class="col-sm-9">
                    <input type="text" formControlName="ssn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ssn.errors }" placeholder="ssn" required/>
                    <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                        <div *ngIf="f.ssn.errors.required">Social security number is required</div>
                        <div *ngIf="f.ssn.errors.maxLength(9)">Social security number can't have more than 9 numbers</div>
                        <div *ngIf="f.ssn.errors.minLength(9)">Social security number can't have less than 9 numbers</div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="col-sm-3 mx-auto">
        <div class="card">
            <div class="card-header"><h4>Submitted forms <span class="badge badge-success">{{forms.length}}</span></h4></div>
            <div class="card-body">
                    <ul class="list-group expand list-group-flush" *ngFor='let form of forms'>
                        <a class="list-group-item">form #{{form.id}}<span class="badge badge-secondary">Dated {{form.createdDate}}</span></a>
                    </ul>
            </div>
        </div>
    </div>
</div>