.h3{
  text-align: center;
}
  .card {
    border: 0px;
    vertical-align: middle;
  }
  h1{
    color: #1e0491;
  }
  
  .card-header{
    background-color: #2f25af;
    color: rgba(255, 255, 255, 0.774);
  }
  