<div class="row justify-content-center bottom py-5">
   <div class="col-lg-5"> 
    <div class="card">
        <div class="container-fluid">
        <div class="row bottom">
                <div class="card-body">
                        <div class="col-sm-3">
                            <img src="https://vignette.wikia.nocookie.net/megalo/images/7/74/Ep_img13_%281%29.png/revision/latest?cb=20180715194617">
                        </div>
                        <div class="col-sm-2">
                            name
                        </div>
                    </div>
        </div>
        </div>
    </div>
    </div>
</div>